<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="recommendationChart.js"></script>
<style>
        html, body, #container {
            margin: 0;
            padding: 0;
            height: 100%; /* Ensure it takes full height */
            width: 100%; /* Ensure it takes full width */
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #container {
            flex: 1; /* Allows the container to grow */
        }
    </style>
<div id="container"></div>
